@import "../../main-style.scss";

.navbar {
  width: 100%;
  height: auto;
  background: linear-gradient(
    to right,$purple, $light,
    $pink,
$yellow,
    $beige-light,
    $beige-lighter,
    $blue,
    $light-red,
   
    $green
  );

  box-shadow: 0px 0px 10px 0px rgba($color: black, $alpha: 0.15);

  display: flex;
  flex-shrink: 0;

  // justify-content: center;
  // align-items: center;

  h1 {
    color: white, rgba($color: black, $alpha: 0.15);
    font-size: 24px;
  }
}
