<div class="form-container">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input
          type="text"
          name="title"
          [ngModel]="note.title"
          required
          class="input"
        />
      </div>
    </div>

    <br />

    <div class="field">
      <label class="label"> Body </label>
      <div class="control">
        <textarea class="textarea" name="body" [ngModel]="note.body"></textarea>
      </div>
    </div>

    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button class="button is-text" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
      <div class="control">
        <button
          class="button is-danger"
          type="button"
          (click)="onDeleteNote()"
          *ngIf="!new"
        >
          Delete
        </button>
      </div>
      <div class="control">
        <button
          class="button is-success"
          type="submit"
          [disabled]="!noteForm.valid"
        >
          Save
        </button>
      </div>
    </div>
  </form>


<!-- <div class="container">
<article class="message is-dark" *ngIf="!new">
    <div class="message-header">
      <p>{{note.title}}</p>
      <button class="delete" aria-label="delete" (click)="onCancel()"></button>
    </div>
    <div class="message-body">
{{note.body}}
    </div>
  </article>

</div> -->

</div>
